.выделение {
  color: blueviolet;
  font-weight: bold;
}

body {
  background: lightblue;
  color: black;
}

.шрифт-kab {
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}

.список {
  background: rgb(227, 237, 240);
}

.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}

.flip_vert {
  transform: scaleY(-1);
}

.обтекаемая-картинка {
  width: 300px;
  float: left;
  margin: 0 20px 20px 20px;
}

.выравнивание-текста {
  text-align: center;
}
